In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
pd.options.mode.copy_on_write = True
pd.options.display.float_format = '{:.2f}'.format



class PortfolioBacktester:
    """
    A class for backtesting a portfolio with quarterly changing weights and calculating risk metrics.
    """
    
    def __init__(self, start_date, end_date, stock_symbols, risk_free_rate=0, initial_investment=10000, reset_model=False, ):
        """
        Initializes the PortfolioBacktester class.

        Args:
            prices: A pandas DataFrame with dates (index) and stock prices as columns.
            weights: A pandas DataFrame with dates (index) and weights for each stock as columns.
            risk_free_rate: Risk-free rate of return (default: 0).
        """
        self.reset_model = reset_model
        self.initial_investment = initial_investment
        self.main_result = pd.DataFrame()
        stock_data = yf.download(stock_symbols, start=start_date, end=end_date)
        stock_data = stock_data["Adj Close"][:]

        self.prices = stock_data
        display(stock_data)
        
        self.risk_free_rate = risk_free_rate

    def load_weights(self, weights):
        self.weights = weights

    def _validate_data(self):
        """
        Performs data validation (date format, quarterly weights).
        """
        # self.prices.index = pd.to_datetime(self.prices.index)
        # self.weights.index = pd.to_datetime(self.weights.index)

        # if len(self.weights.resample("Q").size()) != len(self.weights):
        #     raise ValueError("Weights must change quarterly")

    def backtest(self, start_date, end_date):
        """
        Backtests the portfolio for the specified period and calculates performance metricsel.s.

        Args:
            start_date: Start date for backtesting (string in YYYY-MM-DD format).
            end_date: End date for backtesting (string in YYYY-MM-DD format).

        Returns:
            A pandas DataFrame with portfolio performance metrics.
        """
        # Filter data for backtesting period
        prices_filtered = self.prices.loc[start_date:end_date]
        weights_filtered = self.weights.loc[start_date:end_date]

        # Daily portfolio value
        portfolio_value = (prices_filtered * weights_filtered).sum(axis=1)
        # portfolio_value.dropna(how="any", inplace=True)
        # print(portfolio_value)
        # Daily returns
        daily_returns = portfolio_value.pct_change()
        daily_returns[0] = 0
        
        investment_Value = (daily_returns.cumsum()+ 1)*10000
        

        # Expected Return (annualized)
        expected_return = daily_returns.mean() * 252


        # Volatility (annualized)
        volatility = daily_returns.std() * np.sqrt(252)

        # Max Drawdown
        max_drawdown = (portfolio_value / portfolio_value.cummax()).min() -1
        # max_drawdown = 1 - (portfolio_value / portfolio_value.cummin()).min()

        # Sharpe Ratio
        sharpe_ratio = (expected_return - self.risk_free_rate) / volatility

        # Calculate CAGR
        start_value = portfolio_value.iloc[0]
        end_value = portfolio_value.iloc[-1]
        num_years = len(portfolio_value) / 252  # Assuming 252 trading days in a year
        cagr = (end_value / start_value) ** (1 / num_years) - 1

        # Print CAGR

        # Sortino Ratio (assuming negative returns for downside deviation)
        downside_returns = daily_returns[daily_returns < 0]
        sortino_ratio = (
            (expected_return - self.risk_free_rate)
            / downside_returns.std()
            * np.sqrt(252)
        )

        # Omega Ratio (assuming positive returns for upside potential)
        upside_returns = daily_returns[daily_returns > 0]
        omega_ratio = (
            upside_returns.mean() / abs(downside_returns.mean()) * np.sqrt(252)
        )

        # Combine results
        results = pd.DataFrame(
            {
                "Portfolio Unit Value": portfolio_value,
                "Daily Return": daily_returns,
                "Investment Value": investment_Value,
                "Expected Return": expected_return,
                "Volatility": volatility,
                "Max Drawdown": max_drawdown,
                "Sharpe Ratio": sharpe_ratio,
                "Sortino Ratio": sortino_ratio,
                "Omega Ratio": omega_ratio,
                "CAGR": cagr
            }
        )
        if self.reset_model:
            self.main_result = results
        else:
            self.main_result = pd.concat([self.main_result, results])
            
    def final_output(self):
        return self.main_result

In [2]:
start_date = pd.to_datetime("2018-01-01")
end_date = pd.to_datetime("2023-12-31")

stock_symbols = ["AAPL","GOOG","MSFT"]

In [3]:
class PortfolioOptimizer(PortfolioBacktester):
    def __init__(self, start_date, end_date, stock_symbols, risk_free_rate=0, reset_model=False):
        
        super().__init__(start_date, end_date, stock_symbols, risk_free_rate, reset_model, )
        self.stocks_prices = self.prices

        
    def equal_weighted(self):   
        weights = pd.DataFrame(1 / len(stock_symbols), index=self.stocks_prices.index, columns=stock_symbols)
        self.load_weights(weights)
        self.backtest(start_date, end_date)
        return self.final_output()
    
    # Maximum Diversification Portfolio Optimization
    def max_diversification(self):

        import riskfolio as rp

        def q_rebal(daily_returns):
            

# Building the portfolio object
            port = rp.Portfolio(returns=daily_returns)

            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            # Estimate optimal portfolio:
            port.mu = pd.DataFrame(
                np.sqrt(np.diag(port.cov)).reshape(-1, len(daily_returns.columns)), columns=daily_returns.columns)

            w1 = port.optimization(model='Classic', rm='MV',
                                obj='Sharpe', rf=0, l=0, hist=True)
            # Estimate points in the efficient frontier mean - semi standard deviation

            # Estimate the risk parity portfolio for semi standard deviation
            weights = w1.T

            

            return weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()

    # Risk Parity Portfolio Optimisation
    def min_risk(self):

        import riskfolio as rp
        def q_rebal(daily_returns):

            port = rp.Portfolio(returns=daily_returns)

            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            w = port.optimization(model='Classic',obj='MinRisk', rm='MV', rf=0, hist=True)

            weights = w
            return weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            w = pd.DataFrame(w).T
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()


    # Mean Variance Portfolio Optimisation
    def mean_variance(self):

        import riskfolio as rp
        
        def q_rebal(daily_returns):
            port = rp.Portfolio(returns=daily_returns)
            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            w1 = port.optimization(model='Classic', rm='MV',
                       obj='Sharpe', rf=0, l=0, hist=True)
            return w1
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            w = pd.DataFrame(w).T
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()

    # Mean-Absolute Deviation Portfolio Optimisation
    def MAD(self):

        import riskfolio as rp

        def q_rebal(daily_returns):

            port = rp.Portfolio(returns=daily_returns)

            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            w = port.optimization(model='Classic', rm='MAD', rf=0, hist=True)

            weights = w
            return weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w).T
            
            print(w)
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()


    # Minimax Portfolio Optimisation
    def minimax(self):

        import riskfolio as rp

        def q_rebal(daily_returns):

            port = rp.Portfolio(returns=daily_returns)

            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            w = port.optimization(model='Classic', rm='WR', rf=0, hist=True)

            weights = w
            return weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w).T
            
            print(w)
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()

    # Lower partial moment Portfolio Optimisation
    def lower_partial_moment(self):

        import riskfolio as rp

        def q_rebal(daily_returns):

            port = rp.Portfolio(returns=daily_returns)

            port.assets_stats(method_mu='hist', method_cov='hist', d=0.94)
            w = port.optimization(model='Classic', rm='SLPM', rf=0, hist=True)

            weights = w
            return weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = q_rebal(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w).T
            
            print(w)
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()

In [4]:
# p = PortfolioOptimizer(stock_symbols=stock_symbols, reset_model=True)
# res1 = p.equal_weighted()
# res = p.mean_variance()
# res3 = p.max_diversification()
# res = p.minimax()
# res = p.risk_parity()
# res = p.lower_partial_moment()


# p = PortfolioOptimizer(stock_symbols=stock_symbols, reset_model=True)
# display(res)

In [5]:
# plt = res["Investment Value"]
# plt.plot()

In [6]:
# p.weights

In [7]:
class PortfolioOptimizer_ML(PortfolioOptimizer):
    def __init__(self, start_date, end_date, stock_symbols, risk_free_rate=0, reset_model=False,):
        
        super().__init__(start_date, end_date, stock_symbols, risk_free_rate, reset_model, )
        self.stocks_prices = self.prices
        
    def RF(self):
        import numpy as np
        from sklearn.ensemble import RandomForestRegressor

        def portfolio_optimization(returns, target_return=self.risk_free_rate):
            # Convert returns to a numpy array
            returns = np.array(returns)
            
            # Compute mean returns and covariance matrix
            mean_returns = np.mean(returns, axis=0)
            cov_matrix = np.cov(returns.T)
            
            # Create a dataset of random portfolios
            num_portfolios = 10000
            portfolios = np.random.uniform(0, 1, (num_portfolios, len(mean_returns)))
            portfolios = portfolios / np.sum(portfolios, axis=1)[:, np.newaxis]
            
            # Compute returns and volatilities for each portfolio
            portfolio_returns = np.dot(portfolios, mean_returns)
            portfolio_volatilities = []
            for portfolio in portfolios:
                portfolio_volatility = np.sqrt(np.dot(portfolio, np.dot(cov_matrix, portfolio)))
                portfolio_volatilities.append(portfolio_volatility)
            portfolio_volatilities = np.array(portfolio_volatilities)
            
            # Compute Sharpe ratios
            sharpe_ratios = (portfolio_returns - target_return) / portfolio_volatilities
            
            # Train the Random Forest model
            rf = RandomForestRegressor(n_estimators=100, random_state=42)
            rf.fit(portfolios, sharpe_ratios)
            
            # Optimize the portfolio weights
            max_sharpe_weight = rf.predict(np.eye(len(mean_returns)))
            max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)
            
            # Ensure weights are between 0 and 1
            max_sharpe_weight = np.clip(max_sharpe_weight, 0, 1)
            
            # Normalize weights to sum up to 1
            max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)
            
            return max_sharpe_weight
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = portfolio_optimization(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w, index=daily_returns.columns).T
            
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            # display(w)
            
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()
    
    def SVM(self):
        import numpy as np
        from sklearn.svm import SVR

        def portfolio_optimization(returns, target_return = self.risk_free_rate):
            # Convert returns to a numpy array
            returns = np.array(returns)
            
            # Compute mean returns and covariance matrix
            mean_returns = np.mean(returns, axis=0)
            cov_matrix = np.cov(returns.T)
            
            # Create a dataset of random portfolios
            num_portfolios = 10000
            portfolios = np.random.uniform(0, 1, (num_portfolios, len(mean_returns)))
            portfolios = portfolios / np.sum(portfolios, axis=1)[:, np.newaxis]
            
            # Compute returns and volatilities for each portfolio
            portfolio_returns = np.dot(portfolios, mean_returns)
            portfolio_volatilities = []
            for portfolio in portfolios:
                portfolio_volatility = np.sqrt(np.dot(portfolio, np.dot(cov_matrix, portfolio)))
                portfolio_volatilities.append(portfolio_volatility)
            portfolio_volatilities = np.array(portfolio_volatilities)
            
            # Compute Sharpe ratios
            sharpe_ratios = (portfolio_returns - target_return) / portfolio_volatilities
            
            # Train the SVR model
            svr = SVR(kernel='rbf', C=1000, epsilon=0.01)
            svr.fit(portfolios, sharpe_ratios)
            
            # Optimize the portfolio weights
            max_sharpe_weight = svr.predict(np.eye(len(mean_returns)))
            max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)
            
            # Ensure weights are between 0 and 1
            max_sharpe_weight = np.clip(max_sharpe_weight, 0, 1)
            
            # Normalize weights to sum up to 1
            max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)
            
            return max_sharpe_weight
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = portfolio_optimization(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w, index=daily_returns.columns).T
            
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            display(w)
            
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()
    
    def MVF(self):
        import numpy as np
        import cvxopt as cv
        def portfolio_optimization(returns, target_return=self.risk_free_rate, forecast_returns=None):
    # Convert returns to a numpy array
            returns = np.array(returns)

            # Compute mean returns and covariance matrix
            mean_returns = np.mean(returns, axis=0)
            cov_matrix = np.cov(returns.T)

            # If forecast returns are provided, use them instead of historical returns
            if forecast_returns is not None:
                mean_returns = forecast_returns

            # Solve the optimization problem using quadratic programming
            num_assets = len(mean_returns)
            P = cv.matrix(cov_matrix.tolist())
            q = cv.matrix(np.zeros((num_assets, 1)))
            G = cv.matrix(np.vstack((np.eye(num_assets), -np.eye(num_assets))).tolist())
            h = cv.matrix(np.ones((2 * num_assets, 1)))
            A = cv.matrix(np.ones((1, num_assets)))
            b = cv.matrix(1.0)

            # Solve the optimization problem
            sol = cv.solvers.qp(P, q, G, h, A, b)
            if sol['status'] != 'optimal':
                raise ValueError('Optimization problem could not be solved')

            # Get the optimal portfolio weights
            optimal_weights = np.array(sol['x']).flatten()

            # Ensure weights are between 0 and 1
            optimal_weights = np.clip(optimal_weights, 0, 1)

            # Normalize weights to sum up to 1
            optimal_weights = optimal_weights / np.sum(optimal_weights)

            return optimal_weights
                
        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")
        
        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = portfolio_optimization(i)
            # w = pd.DataFrame.from_dict(w, orient='index', columns=['Weight'],).T
            w = pd.DataFrame(w, index=daily_returns.columns).T
            
            w.index = pd.to_datetime([name])
            # print(i.index[-1])
            display(w)
            
            Weights = pd.concat([Weights, w])
            Weights = Weights.drop_duplicates().reindex(self.prices.index)

            Weights = Weights.ffill()
            
        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()
        raise NotImplementedError()

In [8]:
# p = PortfolioOptimizer_ML(stock_symbols, reset_model=True)
# p.SVM()

In [9]:
class PortfolioOptimizer_DL(PortfolioOptimizer_ML):
    def __init__(self, start_date, end_date, stock_symbols, risk_free_rate=0, reset_model=False, ):
    
        super().__init__(start_date, end_date, stock_symbols, risk_free_rate, reset_model)
        self.stocks_prices = self.prices
        
    def DMLP(self):
        import numpy as np
        import pandas as pd
        import tensorflow as tf
        from tensorflow.keras.models import Sequential
        from tensorflow.keras.layers import Dense
        from tensorflow.keras.optimizers import Adam
        from tensorflow.keras.callbacks import EarlyStopping
        
        mlp_model = Sequential()
        mlp_model.add(Dense(64, activation='relu'))
        mlp_model.add(Dense(32, activation='relu'))
        mlp_model.add(Dense(1, activation='linear'))
        mlp_model.compile(optimizer=Adam(
            learning_rate=0.001), loss='mean_squared_error')
        
        def portfolio_optimization(returns, target_return=self.risk_free_rate):
            # Convert returns to a numpy array
            returns = np.array(returns)

            # Compute mean returns and covariance matrix
            mean_returns = np.mean(returns, axis=0)
            cov_matrix = np.cov(returns.T)

            # Create a dataset of random portfolios
            num_portfolios = 10000
            portfolios = np.random.uniform(0, 1, (num_portfolios, len(mean_returns)))
            portfolios = portfolios / np.sum(portfolios, axis=1)[:, np.newaxis]

            # Compute returns and volatilities for each portfolio
            portfolio_returns = np.dot(portfolios, mean_returns)
            portfolio_volatilities = []
            for portfolio in portfolios:
                portfolio_volatility = np.sqrt(np.dot(portfolio, np.dot(cov_matrix, portfolio)))
                portfolio_volatilities.append(portfolio_volatility)
            portfolio_volatilities = np.array(portfolio_volatilities)

            # Compute Sharpe ratios
            sharpe_ratios = (portfolio_returns - target_return) / portfolio_volatilities

            # Train the MLP model
            
            # mlp_model.fit(portfolios, sharpe_ratios, epochs=100, batch_size=32, verbose=0)
            
                        # Define early stopping callback
            early_stopping = EarlyStopping(monitor='loss', patience=10, restore_best_weights=True)

            # Fit the MLP model with early stopping
            mlp_model.fit(portfolios, sharpe_ratios, epochs=100, batch_size=32, verbose=0, callbacks=[early_stopping])

            # Optimize the portfolio weights
            max_sharpe_weight = mlp_model.predict(np.eye(len(mean_returns)))
            max_sharpe_weight = max_sharpe_weight.flatten()

            # Ensure weights are between 0 and 1
            max_sharpe_weight = np.clip(max_sharpe_weight, 0, 1)

            # Normalize weights to sum up to 1
            max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

            return max_sharpe_weight

        daily_returns = self.prices.pct_change(fill_method=None)

        Weights = pd.DataFrame()

        weights_df = daily_returns.resample("Q")

        for name, group in weights_df:
            i = daily_returns[:group.index[-1]]
            i.fillna(0, inplace=True)
            w = portfolio_optimization(i)
            w = pd.DataFrame(w, index=daily_returns.columns).T
            w.index = pd.to_datetime([name])
            display(w)
            Weights = pd.concat([Weights, w])

        Weights = Weights.drop_duplicates().reindex(self.prices.index)
        Weights = Weights.ffill()

        self.load_weights(Weights)
        self.backtest(start_date, end_date)
        return self.final_output()

In [10]:
p = PortfolioOptimizer_DL(stock_symbols=stock_symbols, reset_model=True, start_date=None, end_date=None)
p.DMLP()

[*********************100%%**********************]  3 of 3 completed

Ticker       AAPL   GOOG   MSFT
Date
1980-12-12   0.10    NaN    NaN
1980-12-15   0.09    NaN    NaN
1980-12-16   0.09    NaN    NaN
1980-12-17   0.09    NaN    NaN
1980-12-18   0.09    NaN    NaN
...           ...    ...    ...
2024-03-11 172.75 138.94 404.52
2024-03-12 173.23 139.62 415.28
2024-03-13 171.13 140.77 415.10
2024-03-14 173.00 144.34 425.22
2024-03-15 172.62 142.17 416.42

[10905 rows x 3 columns]

2024-03-18 04:46:40.954270: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-18 04:46:41.021727: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-18 04:46:41.419866: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-18 04:46:42.664963: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/tmp/ipykernel_1128/1011409444.py:73: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  weights_df = daily_returns.resample("Q")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

Ticker      AAPL  GOOG  MSFT
1980-12-31  0.34  0.33  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1981-03-31   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1981-06-30   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1981-09-30   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1981-12-31   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1982-03-31   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1982-06-30   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

/tmp/ipykernel_1128/1011409444.py:65: RuntimeWarning: invalid value encountered in divide
  max_sharpe_weight = max_sharpe_weight / np.sum(max_sharpe_weight)

Ticker      AAPL  GOOG  MSFT
1982-09-30   NaN   NaN   NaN

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1982-12-31  0.33  0.33  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1983-03-31  0.33  0.33  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1983-06-30  0.33  0.33  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step

Ticker      AAPL  GOOG  MSFT
1983-09-30  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

Ticker      AAPL  GOOG  MSFT
1983-12-31  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1984-03-31  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1984-06-30  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1984-09-30  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1984-12-31  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1985-03-31  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1985-06-30  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

Ticker      AAPL  GOOG  MSFT
1985-09-30  0.32  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1985-12-31  0.33  0.34  0.33

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1986-03-31  0.75  0.25  0.00

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1986-06-30  0.35  0.40  0.25

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1986-09-30  0.51  0.35  0.14

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1986-12-31  0.23  0.34  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1987-03-31  0.19  0.37  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1987-06-30  0.22  0.37  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1987-09-30  0.22  0.38  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1987-12-31  0.26  0.37  0.37

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1988-03-31  0.26  0.36  0.38

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1988-06-30  0.25  0.37  0.38

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1988-09-30  0.27  0.37  0.36

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1988-12-31  0.27  0.37  0.37

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1989-03-31  0.27  0.37  0.36

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1989-06-30  0.28  0.35  0.37

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1989-09-30  0.27  0.35  0.39

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1989-12-31  0.24  0.33  0.43

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1990-03-31  0.23  0.34  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1990-06-30  0.23  0.33  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1990-09-30  0.21  0.33  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1990-12-31  0.23  0.33  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step

Ticker      AAPL  GOOG  MSFT
1991-03-31  0.24  0.34  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1991-06-30  0.22  0.34  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1991-09-30  0.22  0.34  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1991-12-31  0.22  0.34  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1992-03-31  0.22  0.33  0.45

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1992-06-30  0.21  0.34  0.45

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1992-09-30  0.21  0.33  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1992-12-31  0.22  0.33  0.45

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1993-03-31  0.21  0.34  0.45

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1993-06-30  0.20  0.33  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1993-09-30  0.18  0.33  0.49

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1993-12-31  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1994-03-31  0.20  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1994-06-30  0.18  0.33  0.49

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1994-09-30  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1994-12-31  0.19  0.35  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1995-03-31  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1995-06-30  0.20  0.33  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1995-09-30  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1995-12-31  0.18  0.32  0.49

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1996-03-31  0.17  0.32  0.51

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1996-06-30  0.16  0.33  0.51

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
1996-09-30  0.16  0.33  0.51

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1996-12-31  0.15  0.33  0.52

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1997-03-31  0.15  0.32  0.53

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1997-06-30  0.13  0.33  0.54

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1997-09-30  0.15  0.32  0.52

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1997-12-31  0.13  0.33  0.54

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
1998-03-31  0.16  0.33  0.51

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1998-06-30  0.15  0.33  0.52

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1998-09-30  0.16  0.34  0.50

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1998-12-31  0.16  0.34  0.50

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1999-03-31  0.16  0.34  0.50

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1999-06-30  0.17  0.33  0.50

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
1999-09-30  0.18  0.32  0.49

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
1999-12-31  0.19  0.34  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2000-03-31  0.20  0.34  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2000-06-30  0.20  0.34  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2000-09-30  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2000-12-31  0.18  0.34  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step

Ticker      AAPL  GOOG  MSFT
2001-03-31  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2001-06-30  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2001-09-30  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2001-12-31  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2002-03-31  0.20  0.33  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2002-06-30  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2002-09-30  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2002-12-31  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2003-03-31  0.19  0.33  0.48

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2003-06-30  0.19  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2003-09-30  0.20  0.34  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2003-12-31  0.20  0.33  0.47

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2004-03-31  0.21  0.34  0.45

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2004-06-30  0.21  0.33  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2004-09-30  0.22  0.37  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2004-12-31  0.23  0.37  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2005-03-31  0.27  0.27  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2005-06-30  0.25  0.33  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2005-09-30  0.25  0.34  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2005-12-31  0.25  0.36  0.39

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2006-03-31  0.26  0.33  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2006-06-30  0.26  0.34  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2006-09-30  0.27  0.32  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2006-12-31  0.26  0.33  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2007-03-31  0.27  0.33  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
2007-06-30  0.27  0.34  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2007-09-30  0.27  0.34  0.39

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2007-12-31  0.27  0.34  0.39

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

Ticker      AAPL  GOOG  MSFT
2008-03-31  0.28  0.30  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2008-06-30  0.29  0.31  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2008-09-30  0.28  0.29  0.43

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2008-12-31  0.31  0.22  0.46

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
2009-03-31  0.31  0.25  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2009-06-30  0.31  0.25  0.44

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2009-09-30  0.31  0.26  0.43

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2009-12-31  0.31  0.27  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2010-03-31  0.31  0.26  0.43

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

Ticker      AAPL  GOOG  MSFT
2010-06-30  0.33  0.25  0.43

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2010-09-30  0.32  0.26  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2010-12-31  0.32  0.26  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2011-03-31  0.32  0.26  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
2011-06-30  0.33  0.25  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2011-09-30  0.33  0.25  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2011-12-31  0.33  0.26  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2012-03-31  0.33  0.25  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2012-06-30  0.33  0.25  0.42

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step

Ticker      AAPL  GOOG  MSFT
2012-09-30  0.33  0.26  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2012-12-31  0.33  0.26  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2013-03-31  0.32  0.27  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2013-06-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2013-09-30  0.32  0.27  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2013-12-31  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2014-03-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2014-06-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2014-09-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2014-12-31  0.32  0.27  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2015-03-31  0.32  0.27  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2015-06-30  0.32  0.27  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2015-09-30  0.32  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2015-12-31  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2016-03-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2016-06-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2016-09-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2016-12-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2017-03-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2017-06-30  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2017-09-30  0.31  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2017-12-31  0.30  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2018-03-31  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2018-06-30  0.31  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2018-09-30  0.30  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2018-12-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2019-03-31  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2019-06-30  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2019-09-30  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2019-12-31  0.30  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2020-03-31  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2020-06-30  0.31  0.29  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2020-09-30  0.31  0.28  0.41

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2020-12-31  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2021-03-31  0.30  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2021-06-30  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2021-09-30  0.31  0.30  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2021-12-31  0.30  0.30  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
2022-03-31  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2022-06-30  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2022-09-30  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step

Ticker      AAPL  GOOG  MSFT
2022-12-31  0.31  0.28  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

Ticker      AAPL  GOOG  MSFT
2023-03-31  0.31  0.28  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

Ticker      AAPL  GOOG  MSFT
2023-06-30  0.31  0.28  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2023-09-30  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2023-12-31  0.31  0.29  0.40

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

Ticker      AAPL  GOOG  MSFT
2024-03-31  0.31  0.28  0.41

/tmp/ipykernel_1128/3509203763.py:68: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  daily_returns[0] = 0

,Portfolio Unit Value,Daily Return,Investment Value,Expected Return,Volatility,Max Drawdown,Sharpe Ratio,Sortino Ratio,Omega Ratio,CAGR
Date,,,,,,,,,,
2018-01-02,60.34,0.00,10000.00,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2018-01-03,60.75,0.01,10067.04,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2018-01-04,61.15,0.01,10133.17,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2018-01-05,61.93,0.01,10260.75,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2018-01-08,61.99,0.00,10269.88,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
...,...,...,...,...,...,...,...,...,...,...
2023-12-22,251.91,0.00,26697.07,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2023-12-26,251.80,-0.00,26692.64,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2023-12-27,251.20,-0.00,26668.92,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2023-12-28,251.78,0.00,26691.88,0.28,0.28,-0.35,0.98,338.53,15.87,0.27
2023-12-29,251.66,-0.00,26687.08,0.28,0.28,-0.35,0.98,338.53,15.87,0.27